{
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    [ "@babel/preset-env", {
      "modules": false,
      "targets": "> 0.25%, not dead"
    }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ]
}
