.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.footer {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  color: #aaa;
  font-family: 'DejaVu';
  text-align: center;
  font-size: 10pt;
  margin: 1em 0 0;
  padding: 1em 0;
  white-space: nowrap;
}
