.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.info {
  padding: 0 2em;
}

.info p {
  margin: 0.5em 0;
}

.highlight-paths-button {
  margin-left: 1em;
  margin-right: 1em;
}

.highlight-paths-button-selected {
  border-color: blue;
}

.info p.room-type-checkboxes {
  padding-left: 3em;
}

.room-type-checkbox {
  display: inline-block;
}

.checkbox-label {
  margin-right: 1em;
}

.info p.value-row {
  margin: 0.2em 0;
}

.value-row input {
  margin-right: 1em;
  width: 3em;
}

.value-row-shop input {
  margin-right: 0.2em;
}

.value-input-label {
  display: inline-block;
  width: 7em;
}

.value-input-label-right {
  width: 5em;
  margin-right: 0.5em;
}

.value-input-label-auto {
  width: initial;
  margin-right: 0.5em;
}

.path-ranking ol {
  padding: 0 2em;
}

.path-ranking li {
  padding: 0 1em;
}

.footer {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  color: #aaa;
  font-family: 'DejaVu';
  text-align: center;
  font-size: 10pt;
  margin: 1em 0 0;
  padding: 1em 0;
  white-space: nowrap;
}
