.map {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: nowrap;
  width: 47rem;
}

.floor {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.floor-num {
  flex-grow: 0;
  text-align: center;
  width: 3rem;
}

.room {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  flex-basis: 5rem;
}

.room-button {
}

.icon {
  background-size: auto 1.9rem;
  border-radius: 0.4rem;
  color: transparent;
  height: 1.9rem;
  width: 2.3rem;
}

.icon-treasure {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/9/9e/Chest1.jpg");
  background-position: 0.15rem 0;
}

.icon-elite {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/5/5b/Elite1.jpg");
  background-position: -0.1rem 0;
}

.icon-event {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/f/f3/Unknown1.jpg");
  background-position: 0.3rem 0;
}

.icon-fight {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/5/5b/Enemy1.jpg");
  background-position: 0.2rem 0.1rem;
}

.icon-rest {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/4/46/Rest1.jpg");
  background-position: 0.04rem -0.1rem;
}

.icon-shop {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/3/35/Shop1.jpg");
  background-position: 0.3rem -0.1rem;
}

.icon-super {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/5/5b/Elite1.jpg");
  background-position: -0.15rem -0.1rem;
  border: 0.2rem solid orange;
}

.connect-button.room-selected {
  border: 2px solid red;
}

.connect-button.room-selected-neighbor {
  border: 2px solid blue;
}

.add-drop-floor {
  width: 2rem;
}
