.map {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: nowrap;
}

.map canvas {
  height: 1.95rem;
}

.floor {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.floor-num {
  flex-grow: 0;
  text-align: center;
  width: 3rem;
}

.room {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  flex-basis: 5rem;
}

.connect-button.room-selected {
  border: 2px solid red;
}

.connect-button.room-selected-neighbor {
  border: 2px solid blue;
}

.add-drop-floor {
  width: 2rem;
}
