.room-button {
}

.room-button.selected {
  border: 0.25rem solid blue;
}

.icon {
  background-origin: border-box;
  background-size: auto 1.9rem;
  border-radius: 0.4rem;
  color: transparent;
  height: 1.9rem;
  width: 2.3rem;
}

.icon-treasure {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/9/9e/Chest1.jpg");
  background-position: 0.25rem 0.1rem;
}

.icon-elite {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/5/5b/Elite1.jpg");
  background-position: 0.05rem 0.1rem;
}

.icon-event {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/f/f3/Unknown1.jpg");
  background-position: 0.4rem 0.1rem;
}

.icon-enemy {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/5/5b/Enemy1.jpg");
  background-position: 0.3rem 0.15rem;
}

.icon-rest {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/4/46/Rest1.jpg");
  background-position: 0.1rem 0;
}

.icon-shop {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/3/35/Shop1.jpg");
  background-position: 0.4rem 0rem;
}

.icon-super {
  background-image: url("https://static.wikia.nocookie.net/slay-the-spire/images/5/5b/Elite1.jpg");
  background-position: 0.05rem 0.1rem;
  border: 0.2rem solid orange;
}
